---
---
%both-containers {
  margin-bottom: 3rem;
}

#firepad-container {
  @extend %both-containers;
  width: 100%;
  height: 80vh;
  min-height: 500px;
}
#email-preview-container {
  @extend %both-containers;
  margin-top: 10px;
}
div.email-meta {
  h1,h2,h3,h4,h5,h6 {
    margin: 0.5rem;
    font-weight: 300;
  }
}
div.email-content {
  a { text-decoration: underline; }
}

 /*
  * This method for fixing independently-scrolling vertical sections has
  * been shamelessly ripped off from Ben Frain:
  * https://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/
  */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  height: 100px;
}
.scroll-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 110px);
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}
.left-half,
.right-half {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

// Utility classes
.nestle { margin-top: -1rem; }
